{% extends "artyProd/base.html" %}
{% block content %}
<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                   <form method="post" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button class="btn btn-primary btn-xl rounded-pill mt-5" type="submit">Nouvelle equipe</button>
                   </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}